<!DOCTYPE html>
<html>

<head>

<title>About</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>About Us</h1>
<img src="/assets/image.png" alt="About Us" class="about-image">

<p>

This application is built using

Node.js

Express.js

EJS

HTML

CSS

JavaScript

</p>

</div>

<%- include("includes/footer") %>

</body>

</html>