<!DOCTYPE html>
<html>

<head>

<title>Contact</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>Contact Us</h1>

<form>

<input type="text" placeholder="Your Name">

<input type="email" placeholder="Email">

<textarea placeholder="Message"></textarea>

<button>Send</button>

</form>

</div>

<%- include("includes/footer") %>

</body>

</html>