<!DOCTYPE html>
<html>

<head>

<title>Help</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>Help Center</h1>

<div class="card">

<h3>Frequently Asked Questions</h3>

<p>

Here you can find common answers.

</p>

</div>

<div class="card">

<h3>Support</h3>

<p>

Email :
support@gmail.com

</p>

</div>

</div>

<%- include("includes/footer") %>

</body>

</html>