<!DOCTYPE html>
<html>

<head>

<title>404</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>404</h1>

<p>

Page Not Found

</p>

<a href="/" class="btn">

Go Home

</a>

</div>

<%- include("includes/footer") %>

</body>

</html>