<!DOCTYPE html>
<html>

<head>

<title>Privacy Policy</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>Privacy Policy</h1>

<p>

Your privacy is important to us.

</p>

</div>

<%- include("includes/footer") %>

</body>

</html>