<!DOCTYPE html>
<html>

<head>

<title>Services</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("includes/navbar") %>

<div class="container">

<h1>Our Services</h1>

<div class="cards">

<div class="card">
<h3>Web Development</h3>
</div>

<div class="card">
<h3>Backend Development</h3>
</div>

<div class="card">
<h3>API Development</h3>
</div>

</div>

</div>

<%- include("includes/footer") %>

</body>

</html>